@use 'src/styles/vars';

.input {

  box-shadow: vars.$boxShadow;
  margin-bottom: vars.$marginBottomContent;
  ::placeholder{
    font-family: 'Josefin Sans', sans-serif;
  }
  border-radius: vars.$borderRadius;
  background-color: vars.$veryLightGray;
  display: flex;
  align-items: center;

  
  .input-text {
    display: block;
    padding: 1em 1em;
    width: 110%;
    background-color: vars.$veryLightGray;
    border: none;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
  }
  .input-checkbox{
    margin-left: 23px;
    height: 23px;
    width: 23px;
    border-radius: 100%;
    color: vars.$veryLightGray;
    border: 1px solid vars.$darkGrayishBlue;
    background-color: transparent;
    
  }

}

