//Color primaire

$mainColor : hsl(220, 98%, 61%);
$check-background : linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

// Light theme 
$veryLightGray: hsl(0, 0%, 98%);
$veryLightGrayishBlue: hsl(236, 33%, 92%);
$lightGrayishBlue: hsl(233, 11%, 84%);
$darkGrayishBlue: hsl(236, 9%, 61%);
$veryDarkGrayishBlue: hsl(235, 19%, 35%);

// Dark theme

$VeryDarkBlue: hsl(235, 21%, 11%);
$VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$LightGrayish: hsl(234, 39%, 85%);
$LightGrayishHover: hsl(236, 33%, 92%);
$DarkGrayish: hsl(234, 11%, 52%);
$VeryDarkGrayishBlue: hsl(233, 14%, 35%);

// Width

$mainWidth :  85%;

$borderRadius : 7px;

$positionLeft: 25px;

$boxShadow : 0px 8px 17px 0px $veryDarkGrayishBlue;
$marginBottomContent : 20px;





